<!DOCTYPE html>
<html>
<head>
  <title>Events Search Table</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<style>
  body {
    text-align: center;
  }

  .search-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #dddddd;
    text-align: middle;
    padding: 8px;
    vertical-align: middle;
  }

  h1 {
    font-size: 36px;
    margin-top: 50px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  th {
    background-color: #FFDAB9; 
    font-weight: bold;
  }

  td {
    background-color: #FFF8DC; 
  }
  .other-pages {
        text-align: center;
        margin-bottom: 20px;
      }

      .other-pages li {
        list-style: none;
        display: inline-block;
        margin-right: 10px;
      }

      .other-pages a {
        text-decoration: none;
        color: #333;
      }

      .other-pages i {
        margin-right: 5px;
      }
</style>
<body>
  <h1>Events Search Table</h1>
  <ul class="other-pages">
    <li>
      <a href="/">
        <i class="fas fa-chart-bar"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a href="/nasa_graph">
        <i class="fas fa-satellite"></i>
        NASA Objects Graph
      </a>
    </li>
    <li>
      <a href="/neotable">
        <i class="fas fa-satellite"></i>
        NASA Objects Table
      </a>
    </li>
    <li>
      <a href="/sun_info">
        <i class="fas fa-sun"></i>
        Sun Info
      </a>
    </li>
    <li>
      <a href="/search_table">
        <i class="fas fa-search"></i>
        Search Table
      </a>
    </li>
  </ul>
  <div class="search-container">
    <form action="/search_table_post" method="post">
      <label for="startDate">Start Date:</label>
      <input type="date" id="startDate" name="startDate">

      <label for="endDate">End Date:</label>
      <input type="date" id="endDate" name="endDate">

      <label for="event">Type of event:</label>
      <input type="text" id="event" name="event">

      <label for="telescope">Telescope name:</label>
      <input type="text" id="telescope" name="telescope">

      <button type="submit">Search</button>
    </form>
  </div>

  <div>
    <table>
      <thead>
        <tr>
          <th>Event type</th>
          <th>Source</th>
          <th>Urgency</th>
          <th>Event date</th>
        </tr>
      </thead>
      <tbody>
        <% entries.forEach(neoObject => { %>
        <tr>
          <td><%= neoObject.eventType %></td>
          <td><%= neoObject.eventSource %></td>
          <td><%= neoObject.urgency %></td>
          <td><%= neoObject.eventTS %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>
